/* CSS Document */
:root {
  --secondary-color: #FAF7F3;
  --white: #ffffff;
}


*, *::after, *::before {
  box-sizing:border-box;  
}

body{
  margin:0;
  padding:0;
  /* font-family: 'proxima-nova', sans-serif; */
  font-family: Proxima Nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

label{
  display: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: 0.4s;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

div.list{
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: none;
  transition: 0.4s;

}

div.list.open{
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  justify-items: center;
}


header{
  position: sticky;
  z-index: 99;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style-type: none;
}

ul.mobile{
  display: flex;
  flex-direction: column;
  padding: 0px;
}

ul.mobile li{
  padding: 20px;
  border-top: 1px solid #e6e6e6;
}

ul.mobile li.big-link{
  display: flex;
  justify-content: center;
}

ul.mobile li.big-link a{
  font-size: 20px;
  font-weight: 200;
}

ul.mobile li a{
  color: black;
  font-size: 14px;
  font-weight: 600;
}

body > section{
  background-color: white;
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: fixed;
  transform: translateX(-2969px);
  transition: 0.4s;
  overflow-y: scroll;
  z-index: 999;
}

body > section section{
  background-color: var(--secondary-color);
  height: 300px;
  overflow: auto;
}

body > section header{
  margin: 17px;
}

body > section header ul{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body section section ul:nth-of-type(1){
  display: flex;
  padding: 0px;
  justify-content: space-between;
  background: white;
  padding: 30px;
  border: 1px solid #e6e6e6;
}

body > section section ul:nth-of-type(1) li a{
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > section section ul:nth-of-type(1) li img{
  width: 100%;
  height: 100%;
}

body > section section ul:nth-of-type(1) li  span{
  font-size: 8px;
}

form{
  margin-top: 10px;
}

body > section header ul li a img{
  width: 110px;
}

body > section.schuif{
  transform: translateX(0px);
}

header > div{
  background-color: black;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
}

header nav{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 13px;
  background-color: white;
}

header nav:nth-of-type(3){
  display: none;
  transition: 0.4s;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  /* display: flex; */
  padding: 18px;
}

header nav:nth-of-type(3).flex{
  display: flex;
}

nav ul{
  display: flex;
  margin: 0;
}

nav ul li{
  height: 24px;
  width: 24px;
  margin-left: 20px;
}

nav ul li a img{
  height: 100%;
  width: 100%;
}

nav a img{
  width: 110px;
}

header > div > a{
  text-decoration: none;
  color: white;
  margin: auto;
  font-size: 11px;
  font-weight: 600;
}

button.customer-service{
  background-color: black;
  height: 8px;
  width: 8px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 20px;
}

div.dropdown-menu{
  height: 23px;
  width: 23px;
  display: flex;
  flex-direction: column;
}

div.dropdown-menu button{
  height: 100%;
  width: 36px;
  background-color: transparent;
  border: none;
}

div.dropdown-menu img{
  height: 100%;
  width: 100%;
}

div.dropdown-menu span{
  font-size: 8px;
}

div.dropdown-menu-sticky{
  height: 23px;
  width: 23px;
  display: flex;
  flex-direction: column;
}

div.dropdown-menu-sticky button{
  height: 100%;
  width: 36px;
  background-color: transparent;
  border: none;
}

div.dropdown-menu-sticky img{
  height: 100%;
  width: 100%;
}

div.dropdown-menu-sticky span{
  font-size: 8px;
}


div.input-search{
  width: 86%;
}

input[type = "search"]{
  background-color: #F6F6F6;
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;
}

main section:nth-of-type(1){
  background-image: url('../images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 203px;
  margin-bottom: 5px;
}

div.text-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

div.text-container h1{
  color: white;
  font-size: 16px;
  font-weight: 100;
}

div.text-container h2{
  color: white;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
}

div.text-container a{
  color: black;
  background-color: white;
  padding: 15px;
  font-size: 14px;
}

main section:nth-of-type(2){
  background-image: url('../images/banner2.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 485px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


div.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.container div.button-container{
  display: grid;
  grid-gap: .5rem .5rem;
  grid-template-columns: 1fr 1fr;
}

div.container h2{
  color: white;
  font-weight: 300;
  font-size: 28px;
}

div.container div.button-container a{
  background-color: white;
  padding: 15px;
  color: black;
  text-align: center;
}

main section:nth-of-type(3){
  min-height: 172px;
  background-color: var(--secondary-color);
  overflow: auto;
}

main section:nth-of-type(3) ul{
  margin: 15px;
  padding: 0px;
}

main section:nth-of-type(3) ul li{
  display: flex;
  margin-bottom: 25px;
}

main section:nth-of-type(3) ul li span{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

main section:nth-of-type(3) ul li a{
  font-weight: 700;
  font-size: 13px;
  color: black;
}

main section:nth-of-type(4){
  background-color: white;
  height: 121px;
  overflow: auto;
}

main section:nth-of-type(4) div{
  margin: 15px;
}

main section:nth-of-type(4) div h3{
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

main section:nth-of-type(4) div ul{
  display: flex;
  padding: 0px;
}

main section:nth-of-type(4) div ul li{
  width: 24px;
  height: 24px;
  margin-right: 25px;
}

main section:nth-of-type(4) div ul li img{
  height: 100%;
  width: 100%;
}

footer{
  background-color: var(--secondary-color);
  min-height: 200px;
  overflow: auto;
}

footer ul:nth-of-type(1){
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 21px;
  margin-bottom: 50px;
}

footer ul:nth-of-type(1) li{
  width: 100px;
  height: 43px;
}

footer ul:nth-of-type(1) li img{
  width: 100%;
  height: 100%;
}

footer ul:nth-of-type(2){
  padding: 0px;
  margin: 25px;
}

footer ul:nth-of-type(2) li{
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 22px;
}

footer ul:nth-of-type(2) li a{
  margin-bottom: 10px;
  display: block;
  font-size: 13px;
  font-weight: 700;
}

footer div.icon-container ul{
  display: flex;
}

footer div.icon-container ul li{
  width: 22px;
  margin-right: 15px;
}